# Cache settings
proxy_cache_path /tmp/nginx levels=1:2 keys_zone=cache_zone:10m inactive=60m;
proxy_cache_key "$scheme$request_method$host$request_uri";

# Proxy server settings
server {
    
    listen {{ http_port }};
    server_name  127.0.0.1;

    access_log  /var/log/nginx/{{ app_name }}.log;

    location / {
        proxy_cache cache_zone;
        add_header X-Proxy-Cache $upstream_cache_status;
        proxy_cache_bypass  $http_cache_control;
       
        #include /etc/nginx/proxy_params;
        proxy_pass {{ proxied_host }};
        }
}
