# Proxy server settings
server {

    listen 443;
    server_name  127.0.0.1;

    ssl on;
    ssl_certificate /etc/nginx/challenge.crt;
    ssl_certificate_key /etc/nginx/challenge.key;
    ssl_session_cache shared:SSL:10m;

    access_log  /var/log/nginx/{{ app_name }}_ssl.log;

    location / {
        proxy_cache cache_zone;
        add_header X-Proxy-Cache $upstream_cache_status;
        proxy_cache_bypass  $http_cache_control;
        
        include proxy_params
        proxy_pass {{ proxied_host }};
        }
}
